{% extends "PositiveWebsiteBundle::layout.html.twig" %}

{% block scripts %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/positivewebsite/css/animate.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/positivewebsite/css/font-awesome-about.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/positivewebsite/css/about.css') }}">

{% endblock %}

{% block content %}

    <div class="content-wrapper top-section">
        <div class="inner-container container">
            <div class="row">
                <div class="col-md-6 service-item service-left">
                    <div class="box-content">
                        <div class="service-icon">
                            <i class="li_lab"></i>
                        </div>
                        <div class="service-content">
                            <h4>maximumrock.ro</h4>
                            <p>
                                Formatie tanara, <em>Positive John</em> se joaca cu sonoritati alternative care se metamorfozeaza, piesa dupa piesa, in hibrizi funk/progresivi proaspeti si irezistibili.
                                <br><br>
                                <a rel="nofollow" href="http://www.maximumrock.ro/stiri/8013-firma-lanseaza-in-avanpremiera-albumul-descantece-la-cluj-napoca.html" class="button">Full Article</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 service-item service-right">
                    <div class="box-content">
                        <div class="service-icon">
                            <i class="li_bulb"></i>
                        </div>
                        <div class="service-content">
                            <h4>cluj.com</h4>
                            <p>
                                Surpriza serii (pentru mine) a fost momentul muzical susţinut de cei de la <em>Positive John</em>. Am pus pauză râsetelor, am dat volumul muzicii mai tare şi involuntar am început să dau din cap ca mai apoi toată sala să vibreze pe ritmul susţinut ba cu picioarele, pixuri pe agendă, degete pe spătarele scaunelor sau îngânarea versurilor. Involuntar.
                                <br><br>
                                <a rel="nofollow" href="http://cluj.com/articole/lansarea-dor-17-live-la-cluj-impresii-de-dinainte-din-timpul-si-de-dupa-adunare/" class="button">Full Article</a>
                            </p>

                        </div>
                    </div>
                </div>
                <div class="col-md-6 service-item service-left">
                    <div class="box-content">
                        <div class="service-icon">
                            <i class="li_clock"></i>
                        </div>
                        <div class="service-content">
                            <h4>control-club.ro</h4>
                            <p>
                                <em>Positive John</em> sunt secretul cel mai bine pastrat al Clujului: o adunatura de baieti usor instabili compusa din Lazi (voce), Lucretiu (chitara), Adam (clape), Mihai (megabass) si Cristi (tobe).
                                <br><br>
                                <a rel="nofollow" href="http://www.control-club.ro/event/violent-minkey-vs-positive-john/" class="button">Full Article</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 service-item service-right">
                    <div class="box-content">
                        <div class="service-icon">
                            <i class="li_study"></i>
                        </div>
                        <div class="service-content">
                            <h4>catavencii.ro</h4>
                            <p> Despre The <em>Positive John</em> am auzit numai de bine, începînd cu faptul că sînt din Cluj și terminînd cu ăla că îi girează una dintre cele mai bune trupe noi, Theory of Mind.
                                <br><br>
                                <a rel="nofollow" href="http://www.catavencii.ro/eyedrops-picaturi-pentru-ciclop-si-alte-evenimente-la-fel-de-notabile/" class="button">Full Article</a>
                            </p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="products">
        <div class="container">
            <div class="row" id="product-inner">
                <div class="col-md-12 text-center">
                    <div class="circle">
                        <h3>
                            <img src="{{ asset('bundles/positivewebsite/images/data/logo.jpg')}}" width="300"/>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="portfolio">
        <div class="container" id="Grid">
            <div class="row row-title">
                <div class="col-md-12 text-center title">
                    <h2>BAND MEMBERS</h2>
                    <span>who we are</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6"></div>
                <div class="col-md-3 col-sm-6">
                    <div class="staff-member">
                        <img src="http://dummyimage.com/280x280/000/fff.jpg" alt="">
                        <div class="overlay">
                            <div class="overlay-inner">
                                <h4>instrument</h4>
                                <span>Nume</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="staff-member">
                        <img src="http://dummyimage.com/280x280/000/fff.jpg" alt="">
                        <div class="overlay">
                            <div class="overlay-inner">
                                <h4>instrument</h4>
                                <span>Nume</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6"></div>
            </div>
            <div class="row">
                <div class="col-md-1 col-sm-6"></div>
                <div class="col-md-3"><div class="staff-member">
                        <img src="http://dummyimage.com/280x280/000/fff.jpg" alt="">
                        <div class="overlay">
                            <div class="overlay-inner">
                                <h4>instrument</h4>
                                <span>Nume</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="staff-member">
                        <img src="http://dummyimage.com/280x280/000/fff.jpg" alt="">
                        <div class="overlay">
                            <div class="overlay-inner">
                                <h4>instrument</h4>
                                <span>Nume</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="staff-member">
                        <img src="http://dummyimage.com/280x280/000/fff.jpg" alt="">
                        <div class="overlay">
                            <div class="overlay-inner">
                                <h4>instrument</h4>
                                <span>Nume</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1 col-sm-6"></div>
        </div>
    </div>
{% endblock %}