<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<head>
    <meta charset="utf-8">
    <title>Positive Site</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!--<link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" /> -->

{% block scripts %}
    <link rel="stylesheet" href="{{ asset('bundles/positivewebsite/css/demo.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/positivewebsite/css/bootstrap.min.css') }}">

    <!-- FontAwesome Icons -->
    <link rel="stylesheet" href="{{ asset('bundles/positivewebsite/css/font-awesome.min.css') }}">

    <!-- Google Font -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Normailize Stylesheet -->
    <link rel="stylesheet" href="{{ asset('bundles/positivewebsite/css/normalize.min.css') }}">

    <!-- Main Styles -->
    <link rel="stylesheet" href="{{ asset('bundles/positivewebsite/css/templatemo_style.css') }}">

    <script src="{{ asset('bundles/positivewebsite/js/vendor/modernizr-2.6.2.min.js')}}"></script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ asset('bundles/positivewebsite/js/vendor/jquery-1.10.1.min.js')}}"><\/script>')</script>

    <script src="{{ asset('bundles/positivewebsite/js/bootstrap.min.js')}}"></script>
    <script src="{{ asset('bundles/positivewebsite/js/plugins.js')}}"></script>
    <script src="{{ asset('bundles/positivewebsite/js/main.js')}}"></script>


{% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
{% block body %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-message">
            <em>Notice</em>: {{ flashMessage }}
        </div>
    {% endfor %}


    {% block header %}
        {% include 'PositiveWebsiteBundle::header.html.twig' %}
    {% endblock %}

    {% block content %}{% endblock %}

    {% block footer %}
        {% include 'PositiveWebsiteBundle::footer.html.twig' %}
    {% endblock %}
{% endblock %}

